{# src/Shop/ProductBundle/Resources/views/Products/list.html.twig #}

{% extends "ShopCartBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block shop_cart %}
    <hr />

    {{ include("ShopCartBundle:Cart/Top:step.html.twig") }}

    {{ form_start(form, {'attr': {'class': 'form-inline form-horizontal'}, 'method': 'POST'}) }}

    {{ form_row(form.children._token) }}

    {% set buttonsMenu = include("ShopCartBundle:Cart/View:menu.html.twig") %}
    {{ buttonsMenu|raw }}


    {% if form.children.products.children is empty  %}

        <div class="row">
            <div class="col-xs-12 text-center">
                {{ "noProductAvailable"|trans }}
            </div>
        </div>
        <hr>

    {% else %}

        {% for cartItem in form.children.products.children %}
            <div class="row">
                {% set cartItemObject = cartItem.vars.value %}
                {% set cartItemObjectPriceConfiguration = null %}

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        {% if cartItem.children.product.vars.value.image %}
                            {% media cartItem.children.product.vars.value.image, '350' with {
                                'class': 'img-responsive', 
                                'style':(shop_product_image_style)?shop_product_image_style } 
                            %}
                        {% else %}
                            {{ include("ShopProductBundle:Products/Includes:ProductNotAvailable.html.twig") }}
                        {% endif %}
                    </div>
                    {% if cartItemObject.configuration[constant('Shop\\CartBundle\\Entity\\CartItem::TYPE_PRICE')] is defined and 
                        cartItemObject.configuration[constant('Shop\\CartBundle\\Entity\\CartItem::TYPE_PRICE')][constant('Shop\\CartBundle\\Entity\\CartItem::PRICE_TOTAL')] is defined
                    %}
                    {% set cartItemObjectPriceConfiguration = cartItemObject.configuration[constant('Shop\\CartBundle\\Entity\\CartItem::TYPE_PRICE')][constant('Shop\\CartBundle\\Entity\\CartItem::PRICE_TOTAL')] %}
                    <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
                        <a class="btn btn-danger btn-xs" href="{{ path("shop_cart_remove_item", {'id':cartItem.vars.value.id}) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a> 
                        <strong>{{ cartItem.children.product.vars.value.translate.name }}</strong>
                    </div>

                    <div class="form-group col-xs-12 col-sm-8 col-md-4 col-lg-4">
                        <div class="input-group col-xs-12">
                            <span class="input-group-addon">
                                {{ cartItemObject.
                                    configuration
                                    [constant('Shop\\CartBundle\\Entity\\CartItem::TYPE_PRICE')]
                                    [constant('Shop\\CartBundle\\Entity\\CartItem::PRICE_TOTAL')]
                                    [0]|
                                    ConvertPrice(cartItemObject.
                                    configuration
                                    [constant('Shop\\CartBundle\\Entity\\CartItem::TYPE_PRICE')]
                                    [constant('Shop\\CartBundle\\Entity\\CartItem::PRICE_TOTAL')]
                                    [1])|
                                    FormatPrice }}
                            </span>
                        </div>
                    </div>
                    {% elseif cartItem.children.product.vars.value.price|getFieldPrice('oneTime') > 0 %}
                        <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
                            <a class="btn btn-danger btn-xs" href="{{ path("shop_cart_remove_item", {'id':cartItem.vars.value.id}) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a> 
                            <strong>{{ cartItem.children.product.vars.value.translate.name }}</strong>
                        </div>

                        <div class="form-group col-xs-12 col-sm-8 col-md-4 col-lg-4">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon">
                                    {{ CartItemGetFormattedFieldPrice('oneTime',cartItem) }}
                                </span>
                                {{ form_widget(cartItem.children.prices.children.oneTime) }}
                                <span class="input-group-addon">
                                    {{ cartItem.children.product.vars.value.price|getFormattedFieldPrice(
                                    'oneTime' ) }}
                                </span>
                            </div>
                        </div>

                        {% else %}
                            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9" 
                                 style="font-weight:bold;">
                                <a class="btn btn-danger btn-xs" href="{{ path("shop_cart_remove_item", {'id':cartItem.vars.value.id}) }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a> 
                                {{ cartItem.children.product.vars.value.translate.name }}
                            </div>
                            {% endif %}

                                <fieldset class="col-xs-12 col-sm-8 col-md-9 col-lg-9" >
                                    {% if cartItem.children.product.vars.value.price|getFieldPrice('oneTime') == 0 and cartItemObjectPriceConfiguration == null %}
                                        <legend>{{ "cart.prices"|trans }}</legend>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                                            {% include 'ShopCartBundle:Cart/View:price_row.html.twig' with {'field': 'monthly'} %}
                                            {% include 'ShopCartBundle:Cart/View:price_row.html.twig' with {'field': 'quarterly'} %}
                                            {% include 'ShopCartBundle:Cart/View:price_row.html.twig' with {'field': 'semiannually'} %}
                                            {% include 'ShopCartBundle:Cart/View:price_row.html.twig' with {'field': 'annually'} %}
                                        </div>
                                    {% endif %}
                                    {% if cartItem.children.product.vars.value.options|length > 0 %}
                                        <legend>{{ "cart.options"|trans }}</legend>

                                        {% for option in cartItem.children.product.vars.value.options %}
                                            {% set optionOnProduct = cartItem.children.product.vars.value.options|findRowOnArrayWithCanonicalName(option.canonicalName) %}

                                            <div class="form-group col-xs-12">
                                                <label class="control-label col-xs-7 col-sm-4">
                                                    {{ optionOnProduct.translate.fieldName }}{% if optionOnProduct.required %}*{% endif %}

                                                    {% if optionOnProduct.type == "checkbox" %}
                                                        <br />
                                                        <small>
                                                            {% for option in optionOnProduct.values %}
                                                                {% if not option.price is empty %}
                                                                    {{ displayPriceOption(cartItem.vars.value, option)|raw }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </small>
                                                    {% endif %}
                                                </label>
                                                <div class="input-group col-xs-5 col-sm-8">
                                                    {% if optionOnProduct.type == "textfield" %}
                                                        <input id="{{ cartItem.children.optionsValues.children[optionOnProduct.canonicalName].vars.id }}" 
                                                               class="form-control" type="text" 
                                                               name="{{ cartItem.children.optionsValues.children[optionOnProduct.canonicalName].vars.full_name }}" 
                                                               value="{{ cartItem.children.optionsValues.children[optionOnProduct.canonicalName].vars.value }}" 

                                                               {% if cartItem.vars.value.configuration[0] == false %}
                                                                   readonly
                                                               {% else %}
                                                                   {% if optionOnProduct.required %}
                                                                       required
                                                                   {% endif %}   
                                                               {% endif %} />
                                                    {% elseif optionOnProduct.type == "checkbox" %}

                                                        <input type="checkbox"
                                                               id="{{ cartItem.children.optionsValues.children[optionOnProduct.canonicalName].vars.id }}" 
                                                               class="form-control" type="text" 
                                                               name="{{ cartItem.children.optionsValues.children[
                                                        optionOnProduct.canonicalName ].vars.full_name }}" 
                                                               {% if cartItem.children.optionsValues.children[optionOnProduct.canonicalName].vars.value == "on" %}
                                                                   checked
                                                               {% endif %}
                                                               {% if cartItem.vars.value.configuration[0] == false %}
                                                                   readonly
                                                               {% else %}
                                                                   {% if optionOnProduct.required %}
                                                                       required
                                                                   {% endif %}   
                                                               {% endif %}
                                                               />


                                                    {% elseif optionOnProduct.type == "choice" %}
                                                        <select class="form-control" 
                                                                name="{{ cartItem.children.optionsValues.children[
                                                        optionOnProduct.canonicalName
                                                    ].vars.full_name }}"
                                                                id="{{ cartItem.children.optionsValues.children[
                                                        optionOnProduct.canonicalName
                                                    ].vars.id }}" 
                                                                {% if cartItem.vars.value.configuration[0] == false %}
                                                                    readonly
                                                                {% else %}
                                                                    {% if optionOnProduct.required %}
                                                                        required
                                                                    {% endif %}   
                                                                {% endif %}
                                                                >
                                                            <option value="" >{{ optionOnProduct.translate.helps }}</option>
                                                            {% for option in optionOnProduct.values %}
                                                                <option value="{{ option }}"
                                                                        {% if cartItem.children.optionsValues.children[optionOnProduct.canonicalName].vars.value == option %} 
                                                                            selected
                                                                        {% endif %}>
                                                                    {{ option.translate.value }}
                                                                    {% if not option.price is empty %}
                                                                        {{ displayPriceOption(cartItem.vars.value, option)|raw }}
                                                                    {% endif %}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                </div>
                                            </div>

                                        {% endfor %}
                                    {% endif %}
                            </div>

                        </div>
                        <hr>
                        {% endfor %}

                            {% endif %}

                                <hr>

                                <div class="row">
                                    <div class="col-xs-12
                                         col-sm-6
                                         text-left">
                                        {{ "cart.text_about_TVA_bottom_view"|trans }}
                                    </div>
                                    <div class="col-xs-12 
                                         col-sm-6
                                         text-right">
                                        {{ "totalPrice"|trans({'%price%':  shop_cart_service.getTotalPriceHT()|FormatPrice }) }}
                                    </div>
                                </div>


                                {{ buttonsMenu|raw }}

                            </form>



                            {% endblock %}






