<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="members_area">Espace Membre<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="members_area">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li> <a href="{{ path('sinenco_core_profile') }}">{{ 'sinenco.userbundle.myAccount'|trans }}</a></li>
            <li> <a href="{{ path('shop_product.purchases') }}">{{ 'shop.purchases.title'|trans() }}</a></li>
            <li> <a href="{{ path('shop_payment_invoices') }}">{{ "shop.payment.invoices.title"|trans}}</a></li>
            
            <li class="divider"></li>
            <li> <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>

        {% else %}
            <li> <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            <li> <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
            {% endif %}
        <li class="divider"></li>
    </ul>
</li>
