{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "SinencoProjectBundle::layout.html.twig" %}

{% block title %}
    {{ project.title }} - {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js" type="text/javascript"></script>
    <script>
        CKEDITOR.replace('{{ form.content.vars.id }}', {
            toolbar: [
                {name: 'tools', items: ['Maximize']},
                {name: 'document', groups: ['mode', 'document', 'doctools'], items: ['Source']},
                {name: 'clipboard', groups: ['clipboard', 'undo'], items: ['Undo', 'Redo']},
                {name: 'editing', groups: ['find', 'selection', 'spellchecker'], items: ['Scayt']},
                {name: 'basicstyles', groups: ['basicstyles', 'cleanup'], items: ['Bold', 'Italic', 'Strike', '-', 'RemoveFormat']},
                {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi'], items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote']},
                {name: 'links', items: ['Link', 'Unlink', 'Anchor']},
                {name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'SpecialChar']},
                {name: 'styles', items: ['Styles', 'Format']},
            ],
            height: ['100px']
        });
    </script>

    {# On ajoute les modales #}
    {% javascripts filter='?yui_css' 
            "@SinencoProjectBundle/Resources/public/js/bootstrap-filestyle.js"   %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(":file").filestyle({buttonBefore: true});
    </script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>{{ project.title }} </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    {{ project.summary|raw }}
                    <hr>
                    {%  if project.state == constant("Sinenco\\ProjectBundle\\Entity\\Project::STATE_ACTIVE") %}
                        <strong>{{ "sinenco.project.list.price"|trans() }}</strong>
                        {{ project.priceMin }} {{ project.currency }}
                    {% else %}
                        <strong>{{ "sinenco.project.list.budget"|trans() }}</strong>
                        {% if project.priceMin > 0 %}
                            {{ project.priceMin }}-
                        {% endif %}
                        {{ project.priceMax }} {{ project.currency }}
                    {% endif %}
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-body">
                    {% for specification in project.specifications  %}
                        <a href="{{ path('sonata_media_download', {'id': specification.file|sonata_urlsafeid }) }}"><span class="glyphicon glyphicon-download-alt"></span></a> {{ specification.name }}<br />
                    {% endfor %}
                    
                    <hr>

                    {% for proposition in project.propositions  %}
                        <a href="{{ path('sonata_media_download', {'id': proposition.file|sonata_urlsafeid }) }}"><span class="glyphicon glyphicon-download-alt"></span></a> {{ proposition.name }}<br />
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-body">
                    

                    {{form_start(formFileSpecification, { 'attr':{'class':'form-horizontal'} })}}
                    <fieldset>
                        <legend>{{"sinenco.project.detail.files.new_specifications"|trans}}</legend>
                        <div class="form-group">
                            <label for="textArea" class="col-xs-12 col-md-4 col-lg-2 control-label">
                                {{"sinenco.project.detail.files.specification_name"|trans}}
                            </label>
                            <div class="col-xs-12 col-md-8 col-lg-10">
                                {{form_widget(formFileSpecification.name,  { 'attr':{'class':'form-control'} })}}
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {{form_widget(formFileSpecification.children.file.children.binaryContent,  { 'attr':{'class':'form-control'} })}}
                            </div>
                            {{form_widget(formFileSpecification.children.file.children.unlink)}}
                           
                            {{form_widget(formFileSpecification._token)}}
                        </div>
                        <input type="submit" class="btn btn-success" />
                    </fieldset>
                    {{form_end(formFileSpecification)}}

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ "sinenco.project.detail.chat.title"|trans() }}
                        <a class="pull-right" href="{{ path("sinenco_project_detail", {"id":project.id}) }}">
                            <strong><span class="glyphicon glyphicon-fullscreen" ></span></strong>
                        </a>
                    </h3>
                </div>
                <div class="panel-body small">
                    {% for chatLine in project.chatLines|slice(project.chatLines|length-5, project.chatLines|length) %}
                        <div class="col-xs-12" style="vertical-align:middle">
                            <p class="pull-right" style="margin-left:10px;margin-bottom:10px">
                                {{chatLine.createdAt|date("Y-m-d h:m")}}
                                <strong>
                                    {% if chatLine.isClient %}
                                        {{ "sinenco.project.detail.chat.you"|trans() }}
                                    {% else %}
                                        {{ "sinenco.project.detail.chat.dev"|trans() }}
                                    {% endif %}
                                </strong>
                            </p> 
                            {{ chatLine.content|raw }}
                            {% if not loop.last %}
                                <hr>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    {{ form_start(form) }}

                    {{ form_widget(form.content) }}
                    <input type="submit" class="btn btn-block btn-sm btn-success" id="btn-chat" />

                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>


        </div>
    </div>

{% endblock %}