{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "SinencoProjectBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>{{ project.title }} </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    {{ project.summary|raw }}
                    <hr>
                    {%  if project.state == constant("Sinenco\\ProjectBundle\\Entity\\Project::STATE_ACTIVE") %}
                        <strong>{{ "sinenco.project.list.price"|trans() }}</strong>
                        {{ project.priceMin }} {{ project.currency }}
                    {% else %}
                        <strong>{{ "sinenco.project.list.budget"|trans() }}</strong>
                        {% if project.priceMin > 0 %}
                            {{ project.priceMin }}-
                        {% endif %}
                        {{ project.priceMax }} {{ project.currency }}
                    {% endif %}
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-body">
                    {% if project.specification is not empty %}
                        <a href="{{ path("sinenco_project_document", {"id":project.specification.id}) }}">
                            {{ "sinenco.project.detail.specification.title"|trans() }}
                        </a>
                        <hr>
                    {% endif %}
                    {% if project.proposition is not empty %}
                        <a href="{{ path("sinenco_project_document", {"id":project.proposition.id}) }}">
                            {{ "sinenco.project.detail.proposition.title"|trans() }}
                        </a>
                        <hr>
                    {% endif %}
                    {% if project.estimate is not empty %}
                        {{ "sinenco.project.detail.estimate.title"|trans() }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ "sinenco.project.detail.chat.title"|trans() }}
                    </h3>
                </div>
                <div class="panel-body small">
                    {% for chatLine in project.chatLines|slice(project.chatLines|length-5, project.chatLines|length) %}
                        <div class="col-xs-12" style="vertical-align:middle">
                            <p class="pull-right" style="margin-left:10px;margin-bottom:10px">
                                {{chatLine.createdAt|date("Y-m-d h:m")}}
                                <strong>
                                    {% if chatLine.isClient %}
                                        {{ "sinenco.project.detail.chat.you"|trans() }}
                                    {% else %}
                                        {{ "sinenco.project.detail.chat.dev"|trans() }}
                                    {% endif %}
                                </strong>
                            </p> 
                            {{ chatLine.content|raw }}
                            {% if not loop.last %}
                                <hr>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    {{ form_start(form) }}

                    {{ form_widget(form.content) }}
                    <input type="submit" class="btn btn-block btn-sm btn-success" id="btn-chat" />

                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>


        </div>
    </div>

{% endblock %}