{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "SinencoProjectBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="{{ asset('bundles/sinencoproject/images/domains.png') }}" alt="domains" class="img-responsive" style='width:50%;margin:auto' >
                    <h3>{{ "sinenco.project.presentation.domains.title"|trans() }}</h3>
                    <p>
                        {{ "sinenco.project.presentation.domains.content"|trans()|raw }}
                    </p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="{{ asset('bundles/sinencoproject/images/managment.png') }}" alt="managing" class="img-responsive" style='width:50%;margin:auto'>
                    <h3>{{ "sinenco.project.presentation.managment.title"|trans() }}</h3>
                    <p>
                        {{ "sinenco.project.presentation.managment.content"|trans()|raw }} 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="{{ asset('bundles/sinencoproject/images/prices.png') }}" alt="prices" class="img-responsive" style='width:50%;margin:auto'>
                    <h3>{{ "sinenco.project.presentation.prices.title"|trans() }}</h3>
                    <p>
                        {{ "sinenco.project.presentation.prices.content"|trans()|raw }}
                    </p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="{{ asset('bundles/sinencoproject/images/motivation.png') }}" alt="motivation" class="img-responsive" style='width:50%;margin:auto'>
                    <h3>{{ "sinenco.project.presentation.motivation.title"|trans() }}</h3>
                    <p> 
                        {{ "sinenco.project.presentation.motivation.content"|trans()|raw }}
                    </p>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>{{ "sinenco.project.your_projects"|trans() }}</h3>

            {% for project in projects %}
                <div class="panel 
                     {% if project.state == constant("Sinenco\\ProjectBundle\\Entity\\Project::STATE_WAITING_DEV") %}
                         panel-primary
                     {% elseif project.state == constant("Sinenco\\ProjectBundle\\Entity\\Project::STATE_WAITING_USER") %}
                         panel-warning
                     {%  elseif project.state == constant("Sinenco\\ProjectBundle\\Entity\\Project::STATE_REFUSE") %}
                         panel-danger
                     {%  elseif project.state == constant("Sinenco\\ProjectBundle\\Entity\\Project::STATE_ACTIVE") %}
                         panel-success
                     {% else %}
                         panel-primary
                     {% endif %}
                     ">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ project.title }}
                            <a class="pull-right" href="{{ path("sinenco_project_detail", {"id":project.id}) }}">
                                <strong><span class="glyphicon glyphicon-search" ></span></strong>
                            </a>
                        </h3>

                    </div>
                    <div class="panel-body">
                        <div class="well col-xs-12 col-lg-6">
                            <strong>{{ "sinenco.project.list.state_"|trans() }}</strong>
                            {{ "sinenco.project.list.state_number"|transchoice(project.state) }}
                        </div>
                        <div class="well col-xs-12 col-lg-6">
                            {%  if project.state == constant("Sinenco\\ProjectBundle\\Entity\\Project::STATE_ACTIVE") %}
                                <strong>{{ "sinenco.project.list.price"|trans() }}</strong>
                                {{ project.priceMin }} {{ project.currency }}
                            {% else %}
                                <strong>{{ "sinenco.project.list.budget"|trans() }}</strong>
                                {% if project.priceMin > 0 %}
                                    {{ project.priceMin }}-
                                {% endif %}
                                {{ project.priceMax }} {{ project.currency }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <a href="{{ path("sinenco_project_new") }}" class="btn btn-block btn-success">{{ "sinenco.project.ask"|trans() }}</a>

        </div>
    </div>

{% endblock %}