
{% extends "::email_layout.html.twig" %}

{% block core_mail %}
    <table>
        <tr>
            <td>
                <p>Hello {{ user.username }} ! Here is your services :</p>
                <table>
                    <tr>
                        <td class="padding">
                            {% for renting in rentings %}
                                {% set diff = date().diff(renting.expiration)%}
                                <p>
                                    {{ renting.service.translate.name }} 
                                    {% if diff.invert == 0 %}
                                        {{ "services.mail.expire_in"|trans({
                                            "%name%":renting.service.translate.name,    
                                            "%date%" : renting.expiration|date("Y-m-d"),
                                            "%days%" : diff.days
                                        }) }}
                                    {% else %}
                                        {{ "services.mail.expired"|trans({
                                            "%name%":renting.service.translate.name
                                        }) }}
                                    {% endif %}
                                    <br />
                                <p>
                                <p style="font-size: 0.9em; color:#333377">
                                    {% for detail in renting.details %}
                                        {{ detail.detailName.translate.name }} : {{ detail.value }} <br /> 
                                    {% endfor %}
                                </p>
                                <hr/>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
