{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "SinencoShowcaseBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='?yui_css' 
        "@SinencoShowcaseBundle/Resources/public/css/landing.css" %}

    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}

    <style>
        .intro-header-bg{
            background: url({% path page.imageIntro, 'lg'  %}) no-repeat center center;
            background-size: cover;
        }
        .intro-header-bg h1 {
            color: #{{ page.colorTextIntro }};
        }

        .intro-header-bg h3 {
            color: #{{ page.colorTextIntro }};
        }
        .banner-bg{
            background: url({% path page.imageBanner, 'lg'  %}) no-repeat center center;
            background-size: cover;
        }

        .banner-bg h2 {
            color: #{{ page.colorTextBanner }};
        }

        .intro-message-custom{
            padding:{{page.paddings}};
            text-align: {{page.align}};
        }


    </style>

{% endblock %}
{% block javascripts %} 

    {{ parent() }}
    {% javascripts filter='?yui_css' 
        "@SinencoCoreBundle/Resources/public/js/buttonGoTop.js" %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
</div>
</div>
</div>
<!-- Header -->


<a name="about"></a>
<div class="intro-header intro-header-bg" >
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message intro-message-custom">
                    <h1>{{ page.title }}</h1>
                    <h3>{{ page.subtitle|raw }}</h3>
                    <hr class="intro-divider"  style="float:{{page.align}};" />
                    <div class="clearfix"></div>
                    <ul class="list-inline intro-social-buttons">
                        {% for tab in page.tabs %}
                            <li>
                                <a href="#{{ tab.canonicalName }}" class="btn btn-{{ tab.btnColor }} btn-lg">
                                    {#<i class="fa fa-twitter fa-fw"></i>#}
                                    <span class="network-name">{{ tab.name }}</span>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->


{% for tab in page.tabs %}
    <section id="{{tab.canonicalName}}" >

        <div class="content-section">
            <h1 class="content-section-h1">{{ tab.name }}</h1>
            {% for section in tab.sections %}
                <div class="container">
                    {% if section.image is null %}
                        <div class="col-lg-12 text-center">
                            <hr class="intro-divider">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">{{ section.title|raw }}</h2>
                            <p class="lead">{{ section.content|raw }}</p>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <hr class="intro-divider">
                                <div class="clearfix"></div>
                                <h2 class="section-heading">{{ section.title|raw }}</h2>
                                <p class="lead">{{ section.content|raw }}</p>
                            </div>
                            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                                <img class="img-responsive" src="{% path section.image, 'medium' %}" alt="">
                            </div>
                        </div>

                    {% endif %}

                    <!-- /.container -->

                </div>
            {% endfor %}
            <hr class="divider">
        </div>

    </section>
{% endfor %}


<div class="banner banner-bg" >

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>{{ page.title }}</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    {% for tab in page.tabs %}
                        <li>
                            <a href="#{{ tab.canonicalName }}" class="btn btn-{{ tab.btnColor }} btn-lg">
                                {#<i class="fa fa-twitter fa-fw"></i>#}
                                <span class="network-name">{{ tab.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->



{% endblock %}