<div class="modal fade" id="productAddingModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="purchaseLabel">{{ "adding_to_cart"|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ "adding_to_cart_text"|trans }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="productAddedModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="purchaseLabel">{{ "added_to_cart"|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ "added_to_cart_text"|trans }}
                </div>
                <div class="modal-footer">
                    <a href="{{ path("shop_cart_view") }}" class="btn btn-default" >{{ "go_to_cart"|trans }}</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ "Close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
                    
                    
    <div class="modal fade" id="productErrorModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="purchaseLabel">{{ "not_added_to_cart"|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ "not_added_to_cart_text"|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ "Close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>